:root {
    --vermelho: #e50914;
    --preto: #141414;
    --txtcolor: #ddd;
    --txtlogo:  rgb(162, 10, 233);
    --margemdireita: margin-right: 1rem;
    --margemesquerda: margin-left: 1rem;
    --cortransparente:  rgba(0,0,0,.50);

}

header .container .logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-kerning: 10px;
    color: var(--txtlogo);
    padding-left: 1rem;

}

header .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* base  */

body {
    background: var(--preto);
    padding-top: 0.6rem;
    padding-right: var(--margemdireita);
    padding-left: var(--margemesquerda);
    color: var(--txtcolor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    padding-top: 0.6rem;
    padding-right: 1rem;
}


header .menu a {
    font-size: large;
    padding-top: 11px;
    text-decoration: none;
    color: var(--txtcolor);
}

header .menu a:hover{
    color: white;
}





/* principal  */


.filmes-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: flex-start;
    font-size: 1rem;
    font-kerning: 1rem;
    background: linear-gradient(rgba(0,0,0,.50), #141414)100%, url('/img/star\ wars.jpg');
    height: 450px;
    background-size: contain;  
    transition: .3s ease all; 
}

.filmes-principal .descricao {
    margin-bottom: 10px;
    margin-bottom: 45px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: var(--txtcolor);
    padding: 16px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.4rem;
}

.botao:hover {
   background-color: var(--txtcolor);
   color: var(--preto);
}

.botao i {
    margin-right: 5px;
}

.filmes-principal  .container {
    margin-left: 10px;
    width: 60%;
}